body {
  background: white;
  padding: 10px; }

.button {
  border: 1px solid gray;
  cursor: pointer;
  padding: 0 5px;
  float: left; }

.vote {
  list-style: none; }
  .vote .checked.button {
    background: white; }
  .vote .disabled.button {
    cursor: default; }
  .vote .hot {
    background: red;
    color: white; }
    .vote .hot.checked {
      color: red; }
  .vote .not {
    margin-left: 10px;
    background: blue;
    color: white; }
    .vote .not.checked {
      color: blue; }

.results {
  clear: both;
  padding-top: 10px; }
  .results.hidden {
    visibility: hidden; }

.image-container {
  width: 500px;
  height: 500px;
  overflow: hidden;
  background: black;
  text-align: center;
  line-height: 500px;
  padding: 20px;
  border-radius: 20px; }
  .image-container .loader {
    color: white;
    height: 520px; }
    .image-container .loader.hidden {
      display: none; }
  .image-container img.statue {
    text-align: center;
    left: 250px;
    max-width: 500px;
    max-height: 500px;
    vertical-align: middle; }
    .image-container img.statue.hidden {
      display: none; }
