.button {
    border: 1px solid gray;
    cursor: pointer;
    padding: 0 5px;
    float: left;
}

.vote {
    list-style: none;

    .checked.button {
        background: white;
    }

    .disabled.button {
        cursor: default;
    }

    .hot {
        background: red;
        color: white;

        &.checked {
            color: red;
        }
    }

    .not {
        margin-left: 10px;
        background: blue;
        color: white;

        &.checked {
            color: blue;
        }
    }
}

.results {
    clear: both;
    padding-top: 10px;

    &.hidden {
        visibility: hidden;
    }
}
